<div class="container">
  <div class="row">
    <div class="col-4">
      <%= partial "_filter", locals: { title: "Services", data: services } %>
      <%= partial "_filter", locals: { title: "Languages", data: languages } %>
      <%= partial "_filter", locals: { title: "Bus Routes", data: bus_routes } %>
      <%= partial "_filter", locals: { title: "Population Served", data: populations_served } %>
    </div>
    <div class="col-8">
      <% clinic_data.each do |clinic| %>
        <div class="card my-4">
          <div class="card-body">
            <h5 class="card-title">
              <%= p clinic["Clinic"] %>
            </h5>
            <p class="card-text"><%= p clinic["Service Description"] %></p>
            <p class="card-text"><%= p clinic["Address"] %></p>
            <p class="card-text"><%= p clinic["Cross Streets"] %></p>
            <p class="card-text"><%= p clinic["Bus Route"] %></p>
            <!--  <p class="card-text"><%= p clinic["Fax"] %></p> %> -->
            <p class="card-text"><%= p clinic["Phone Number"] %></p>
            <p class="card-text"><%= p clinic["Email Address"] %></p>
            <p class="card-text"><%= pp clinic["Hours"] %></p>

            <p class="card-text"><%= p clinic["Language"] %></p>
            <p class="card-text"><%= p clinic["Patient Eligibility"] %></p>
            <p class="card-text"><%= p clinic["Special Populations Served"] %></p>
            <p class="card-text"><%= p clinic["Payer Population Served"] %></p>
            <p class="card-text"><%= p clinic["Payment Practices"] %></p>
            <p class="card-text"><%= p clinic["Required Documents"] %></p>
            <p class="card-text"><%= p clinic["Clinical Services"] %></p>
            <p class="card-text"><%= p clinic["Routine Services"] %></p>
            <p class="card-text"><%= p clinic["Clinic Type"] %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>